name: deploy to the docker hub

on:
  push:
    branches:
      - dev
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: install deps
        run: npm install

      - name: run next.js build
        if: github.ref_name == 'main'
        run: npm run build

      - name: login to docker hub
        if: github.ref_name == 'main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build docker image
        if: github.ref_name == 'main'
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/smlra-main-website:latest .

      - name: push docker image
        if: github.ref_name == 'main'
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/smlra-main-website:latest
